* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.react-app {
  background-color: rgba(0, 0, 0, 0.904);
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-container {
  background-color: #000;
  width: 55%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto-heading {
  color: #00e7ff;
  font-weight: bold;
  font-size: 40px;
}

.crypto-image {
  background-size: cover;
  height: 200px;
  width: 100%;
}
