* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.each-crypto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 10px;
}

.each-crypto-item div {
  display: flex;
  align-items: center;
}

.crypto-logo {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.value {
  color: #fff;
  font-size: 15px;
  margin: 0px 5px;
}

.currency-name {
  font-size: 12px;
  color: #fff;
  padding: 0px 10px;
}
